### **GITHUB LINK: https://github.com/PRASHIRAWAL/Olympics-Data-Analysis-**

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('athlete_events.csv')
region_df = pd.read_csv('noc_regions.csv')

In [3]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
df.shape

(271116, 15)

In [7]:
df = df[df['Season'] == 'Summer']

In [8]:
df.shape

(222552, 15)

In [9]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN

In [10]:
region_df.tail()

     NOC    region        notes
225  YEM     Yemen          NaN
226  YMD     Yemen  South Yemen
227  YUG    Serbia   Yugoslavia
228  ZAM    Zambia          NaN
229  ZIM  Zimbabwe          NaN

In [13]:
df = df.merge(region_df, on='NOC', how='left')
df['region'].unique()

array(['China', 'Denmark', 'Netherlands', 'Finland', 'Norway', 'Romania',
       'Estonia', 'France', 'Morocco', 'Spain', 'Egypt', 'Iran',
       'Bulgaria', 'Italy', 'Chad', 'Azerbaijan', 'Sudan', 'Russia',
       'Argentina', 'Cuba', 'Belarus', 'Greece', 'Cameroon', 'Turkey',
       'Chile', 'Mexico', 'USA', 'Nicaragua', 'Hungary', 'Nigeria',
       'Algeria', 'Kuwait', 'Bahrain', 'Pakistan', 'Iraq', 'Syria',
       'Lebanon', 'Qatar', 'Malaysia', 'Germany', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Maldives',
       'Ethiopia', 'United Arab Emirates', 'Yemen', 'Indonesia',
       'Philippines', nan, 'Uzbekistan', 'Kyrgyzstan', 'Tajikistan',
       'Japan', 'Republic of Congo', 'Switzerland', 'Brazil', 'Monaco',
       'Israel', 'Uruguay', 'Sweden', 'Sri Lanka', 'Armenia',
       'Ivory Coast', 'Kenya', 'Benin', 'UK', 'Ghana', 'Somalia', 'Niger',
       'Mali', 'Afghanistan', 'Poland', 'Costa Rica', 'Panama', 'Georgia',
       'Slovenia', 'Guyana', 'New Zealand', 'Portugal', 'Paraguay',
       'Angola', 'Venezuela', 'Colombia', 'Bangladesh', 'Peru',
       'El Salvador', 'Puerto Rico', 'Uganda', 'Honduras', 'Ecuador',
       'Turkmenistan', 'Mauritius', 'Seychelles', 'Czech Republic',
       'Luxembourg', 'Mauritania', 'Saint Kitts', 'Trinidad',
       'Dominican Republic', 'Saint Vincent', 'Jamaica', 'Liberia',
       'Suriname', 'Nepal', 'Mongolia', 'Austria', 'Palau', 'Lithuania',
       'Togo', 'Namibia', 'Curacao', 'Ukraine', 'Iceland',
       'American Samoa', 'Samoa', 'Rwanda', 'Croatia', 'Dominica',
       'Haiti', 'Malta', 'Cyprus', 'Guinea', 'Belize', 'Thailand',
       'Bermuda', 'Serbia', 'Sierra Leone', 'Papua New Guinea',
       'Individual Olympic Athletes', 'Oman', 'Fiji', 'Vanuatu',
       'Moldova', 'Bahamas', 'Guatemala', 'Latvia',
       'Virgin Islands, British', 'Mozambique', 'Virgin Islands, US',
       'Central African Republic', 'Madagascar', 'Bosnia and Herzegovina',
       'Guam', 'Cayman Islands', 'Slovakia', 'Barbados', 'Guinea-Bissau',
       'Timor-Leste', 'Democratic Republic of the Congo', 'Gabon',
       'San Marino', 'Laos', 'Botswana', 'South Korea', 'Cambodia',
       'North Korea', 'Solomon Islands', 'Senegal', 'Cape Verde',
       'Equatorial Guinea', 'Boliva', 'Antigua', 'Andorra', 'Zimbabwe',
       'Grenada', 'Saint Lucia', 'Micronesia', 'Myanmar', 'Malawi',
       'Zambia', 'Taiwan', 'Sao Tome and Principe', 'Macedonia',
       'Liechtenstein', 'Montenegro', 'Gambia', 'Cook Islands', 'Albania',
       'Swaziland', 'Burkina Faso', 'Burundi', 'Aruba', 'Nauru',
       'Vietnam', 'Bhutan', 'Marshall Islands', 'Kiribati', 'Tonga',
       'Kosovo', 'South Sudan', 'Lesotho'], dtype=object)

In [15]:
df['region'].unique().shape

(206,)

In [16]:
df.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

In [17]:
df.duplicated().sum()

np.int64(1385)

In [18]:
df.drop_duplicates(inplace=True)

In [19]:
df.duplicated().sum()

np.int64(0)

In [20]:
df['Medal'].value_counts()

Medal
Gold      11456
Bronze    11409
Silver    11212
Name: count, dtype: int64

In [23]:
df = pd.concat([df,pd.get_dummies(df['Medal'])],axis=1)

In [24]:
df.shape

(221167, 20)

In [25]:
df.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

     NOC  Gold  Silver  Bronze
0    USA  2472    1333    1197
1    URS   832     635     596
2    GBR   635     729     620
3    GER   592     538     649
4    ITA   518     474     454
..   ...   ...     ...     ...
225  WIF     0       0       5
226  YEM     0       0       0
227  YAR     0       0       0
228  YMD     0       0       0
229  ZAM     0       1       1

[230 rows x 4 columns]

In [26]:
medal_tally = df.drop_duplicates(subset=['Team','NOC','Games','Year','City','Sport','Event','Medal'])

In [27]:
medal_tally

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,False,False,False
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,False,False,False
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,False,False,False
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,False,True,False
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222528,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver,Russia,NaN,False,False,True
222530,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze,Russia,NaN,True,False,False
222536,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN,Poland,NaN,False,False,False
222537,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN,Poland,NaN,False,False,False
222541,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN,Greece,NaN,False,False,False

In [29]:
medal_tally.groupby('NOC').sum()[['Gold','Silver','Bronze']].sort_values('Gold',ascending=False).reset_index()

     NOC  Gold  Silver  Bronze
0    USA  1035     802     708
1    URS   394     317     294
2    GBR   278     317     300
3    GER   235     261     283
4    FRA   234     256     287
..   ...   ...     ...     ...
225  WIF     0       0       2
226  YEM     0       0       0
227  YAR     0       0       0
228  YMD     0       0       0
229  ZAM     0       1       1

[230 rows x 4 columns]

In [30]:
years = df['Year'].unique().tolist()

In [32]:
years.sort()

In [33]:
years.insert(0,'Overall')

In [34]:
years

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [36]:
country = df['region'].unique().tolist()

In [39]:
df['region'].dropna().values.tolist()

['China',
 'China',
 'Denmark',
 'Denmark',
 'Netherlands',
 'Netherlands',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Finland',
 'Norway',
 'Romania',
 'Norway',
 'Norway',
 'Norway',
 'Netherlands',
 'Norway',
 'Norway',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Estonia',
 'Norway',
 'Finland',
 'Finland',
 'France',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Netherlands',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Norway',
 'Morocco',
 'Estonia',
 'Estonia',
 'Estonia',
 'Estonia',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'France',
 'Egypt',
 'Iran',
 'Spain',
 'France',
 'France',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Italy',
 'Spain',
 'Chad',
 'Azerbaijan',
 'Sudan',
 'Russia',
 'Russia',
 'Argentina',
 'Argentina',
 'Spain',
 'Cuba',
 'Cuba',
 'Cuba',
 'Belarus',
 'Belarus',
 'France',
 'France',
 'France',
 'Argentina',
 'Greece',
 'Cameroon',
 'Cameroon',
 'Turkey',
 'Chile',
 'Spain',
 'Greece',
 'Mexico',
 'Chile',
 'USA',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Spain',
 'Russia',
 'Russia',
 'Chile',
 'Russia',
 'Russia',
 'Italy',
 'Italy',
 'France',
 'France',
 'Chile',
 'Greece',
 'Nicaragua',
 'Nicaragua',
 'Mexico',
 'Mexico',
 'Mexico',
 'Hungary',
 'Hungary',
 'Hungary',
 'Nigeria',
 'Egypt',
 'Egypt',
 'Italy',
 'Chad',
 'Algeria',
 'Algeria',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Bahrain',
 'Pakistan',
 'Iraq',
 'Iraq',
 'Kuwait',
 'Pakistan',
 'Syria',
 'Egypt',
 'Lebanon',
 'Lebanon',
 'Egypt',
 'Egypt',
 'Iraq',
 'Qatar',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Egypt',
 'Malaysia',
 'Pakistan',
 'Pakistan',
 'Pakistan',
 'Iran',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Italy',
 'Germany',
 'Italy',
 'Netherlands',
 'Italy',
 'Iraq',
 'Greece',
 'Canada',
 'Canada',
 'Ireland',
 'Ireland',
 'USA',
 'Australia',
 'South Africa',
 'Canada',
 'Canada',
 'Canada',
 'USA',
 'USA',
 'USA',
 'Canada',
 'USA',
 'Morocco',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Eritrea',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Syria',
 'Syria',
 'Syria',
 'Syria',
 'Syria',
 'Syria',
 'Syria',
 'Egypt',
 'USA',
 'Tanzania',
 'Tanzania',
 'France',
 'Kuwait',
 'Jordan',
 'Egypt',
 'Egypt',
 'Egypt',
 'Sudan',
 'Syria',
 'Egypt',
 'Syria',
 'Egypt',
 'Sudan',
 'Sudan',
 'Sudan',
 'Sudan',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Egypt',
 'Egypt',
 'Sudan',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Syria',
 'Egypt',
 'Syria',
 'Tunisia',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Libya',
 'Egypt',
 'Syria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Egypt',
 'Syria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Sudan',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Sudan',
 'Egypt',
 'Egypt',
 'Egypt',
 'France',
 'Egypt',
 'Egypt',
 'Algeria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Iran',
 'Iran',
 'Belgium',
 'Belgium',
 'Australia',
 'Australia',
 'Qatar',
 'Qatar',
 'Djibouti',
 'Djibouti',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'USA',
 'USA',
 'USA',
 'USA',
 'Australia',
 'Australia',
 'Australia',
 'Palestine',
 'Canada',
 'Canada',
 'Canada',
 'Sudan',
 'Iran',
 'Cameroon',
 'Comoros',
 'Canada',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Chad',
 'Cameroon',
 'Egypt',
 'Egypt',
 'Kazakhstan',
 'Brunei',
 'Iraq',
 'Kuwait',
 'Malaysia',
 'Malaysia',
 'Egypt',
 'Egypt',
 'Egypt',
 'Malaysia',
 'Brunei',
 'Brunei',
 'Sudan',
 'India',
 'India',
 'Iraq',
 'Iraq',
 'Saudi Arabia',
 'Syria',
 'Iraq',
 'Kuwait',
 'Kuwait',
 'Iraq',
 'Qatar',
 'Maldives',
 'Bahrain',
 'Saudi Arabia',
 'Iran',
 'Jordan',
 'Bahrain',
 'Ethiopia',
 'Malaysia',
 'Pakistan',
 'Pakistan',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Iraq',
 'Pakistan',
 'Iraq',
 'Egypt',
 'Egypt',
 'Saudi Arabia',
 'United Arab Emirates',
 'Yemen',
 'Kuwait',
 'Kuwait',
 'Pakistan',
 'Indonesia',
 'Iraq',
 'Iraq',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Nigeria',
 'Canada',
 'Egypt',
 'Russia',
 'Philippines',
 'Philippines',
 'Philippines',
 'Philippines',
 'Philippines',
 'Iraq',
 'Egypt',
 'Egypt',
 'Qatar',
 'Egypt',
 'USA',
 'Iraq',
 'Egypt',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'United Arab Emirates',
 'Iraq',
 'Kuwait',
 'Egypt',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Malaysia',
 'Sudan',
 'Sudan',
 'Nigeria',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Uzbekistan',
 'Uzbekistan',
 'Uzbekistan',
 'Uzbekistan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Kuwait',
 'Egypt',
 'Egypt',
 'United Arab Emirates',
 'United Arab Emirates',
 'Egypt',
 'Egypt',
 'Egypt',
 'Kuwait',
 'Kuwait',
 'Kuwait',
 'Iraq',
 'Egypt',
 'Egypt',
 'USA',
 'Uzbekistan',
 'Kyrgyzstan',
 'Kyrgyzstan',
 'Uzbekistan',
 'Tajikistan',
 'Russia',
 'Tajikistan',
 'Tajikistan',
 'Tajikistan',
 'Libya',
 'Russia',
 'Uzbekistan',
 'Russia',
 'Uzbekistan',
 'Kyrgyzstan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Republic of Congo',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Ethiopia',
 'Algeria',
 'Egypt',
 'Iran',
 'Iran',
 'Cameroon',
 'Switzerland',
 'Switzerland',
 'Brazil',
 'Brazil',
 'Spain',
 'Brazil',
 'Germany',
 'Germany',
 'USA',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Germany',
 'Spain',
 'Spain',
 'Monaco',
 'Monaco',
 'Monaco',
 'Monaco',
 'Monaco',
 'Monaco',
 'Norway',
 'Cuba',
 'Spain',
 'Germany',
 'Germany',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'Israel',
 'USA',
 'USA',
 'Mexico',
 'Uruguay',
 'Spain',
 'Spain',
 'Cameroon',
 'Ethiopia',
 'Ethiopia',
 'Argentina',
 'Argentina',
 'Argentina',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Finland',
 'Sweden',
 'Sweden',
 'Morocco',
 'USA',
 'South Africa',
 'South Africa',
 'Algeria',
 'Italy',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Sri Lanka',
 'Sri Lanka',
 'Sri Lanka',
 'Armenia',
 'Ivory Coast',
 'Ivory Coast',
 'Ivory Coast',
 'Ivory Coast',
 'Spain',
 'Spain',
 'Spain',
 'France',
 'Germany',
 'Tunisia',
 'Iraq',
 'Nigeria',
 'Nigeria',
 'Kazakhstan',
 'Japan',
 'Japan',
 'Kenya',
 'Bulgaria',
 'Bulgaria',
 'France',
 'France',
 'Nigeria',
 'Nigeria',
 'Benin',
 'Benin',
 'Russia',
 'Azerbaijan',
 'Brazil',
 'UK',
 'UK',
 'USA',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Netherlands',
 'Cameroon',
 'Ghana',
 'Nigeria',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Somalia',
 'Somalia',
 'Maldives',
 'Australia',
 'Australia',
 'Cameroon',
 'Cameroon',
 'Egypt',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Lebanon',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Syria',
 'Egypt',
 'Iraq',
 'Morocco',
 'Niger',
 'Qatar',
 'Qatar',
 'Iraq',
 'Libya',
 'Algeria',
 'Iraq',
 'Algeria',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Egypt',
 'Mali',
 'Egypt',
 'Afghanistan',
 'Nigeria',
 'USA',
 'Germany',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Hungary',
 'Hungary',
 'Hungary',
 'Germany',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'Chile',
 'Switzerland',
 'India',
 'India',
 'India',
 'India',
 'India',
 'India',
 'Poland',
 'Sweden',
 'Sweden',
 'Sweden',
 'France',
 'South Africa',
 'Costa Rica',
 'Costa Rica',
 'Panama',
 'Panama',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'UK',
 'Norway',
 'USA',
 'USA',
 'USA',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'Sweden',
 'USA',
 'Belarus',
 'Morocco',
 'Georgia',
 'Slovenia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Guyana',
 'Guyana',
 'New Zealand',
 'New Zealand',
 'Georgia',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'France',
 'Switzerland',
 'Portugal',
 'Cuba',
 'Brazil',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Paraguay',
 'Paraguay',
 'Paraguay',
 'Angola',
 'Brazil',
 'Cuba',
 'Venezuela',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'Portugal',
 'France',
 'Colombia',
 'Colombia',
 'Colombia',
 'Spain',
 'Sweden',
 'Sweden',
 'Djibouti',
 'Russia',
 'Russia',
 'Russia',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'Russia',
 'France',
 'France',
 'France',
 'France',
 'Ethiopia',
 'USA',
 'Germany',
 'Germany',
 'Iran',
 'Bangladesh',
 'Iraq',
 'Saudi Arabia',
 'Saudi Arabia',
 'Jordan',
 'Jordan',
 'Malaysia',
 'Malaysia',
 'Palestine',
 'Palestine',
 'Egypt',
 'Jordan',
 'Jordan',
 'Kazakhstan',
 'Sudan',
 'Sudan',
 'Palestine',
 'China',
 'Kenya',
 'Nigeria',
 'Nigeria',
 'Peru',
 'Peru',
 'Peru',
 'Libya',
 'Jordan',
 'Somalia',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Japan',
 'Palestine',
 'Jordan',
 'Saudi Arabia',
 'Mexico',
 'Kuwait',
 'Kuwait',
 'Japan',
 'Mexico',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Russia',
 'Kazakhstan',
 'Kazakhstan',
 'Qatar',
 'Jordan',
 'Russia',
 'Russia',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'Turkey',
 'France',
 'France',
 'Romania',
 'Romania',
 'Romania',
 'Romania',
 'France',
 'France',
 'France',
 'Spain',
 'Italy',
 'Italy',
 'Italy',
 'Chile',
 'Chile',
 'Cuba',
 'Cuba',
 'Spain',
 'Spain',
 'Chile',
 'USA',
 'Italy',
 'Uruguay',
 'Uruguay',
 'El Salvador',
 'Puerto Rico',
 'Colombia',
 'Colombia',
 'Colombia',
 'Peru',
 'Peru',
 'Canada',
 'Canada',
 'Venezuela',
 'Colombia',
 ...]

In [43]:
country = np.unique(df['region'].dropna().values).tolist()

In [44]:
country.sort()

In [45]:
country

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [46]:
country.insert(0,'Overall')

In [47]:
country

['Overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [49]:
medal_df = df.drop_duplicates(
    subset=['Team', 'NOC', 'Games', 'Year', 'City', 'Sport', 'Event', 'Medal']
)

medal_df[(medal_df['Year'] == 2016) & (medal_df['region'] == 'India')]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
1015,663,Sharath Kamal Achanta,M,34.0,186.0,85.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Table Tennis,Table Tennis Men's Singles,NaN,India,NaN,False,False,False
7065,4523,Seema Antil,F,33.0,182.0,92.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Discus Throw,NaN,India,NaN,False,False,False
8713,5562,Aditi Ashok,F,18.0,173.0,57.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Golf,Golf Women's Individual,NaN,India,NaN,False,False,False
9202,5868,Manu Attri,M,23.0,172.0,73.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Doubles,NaN,India,NaN,False,False,False
10070,6427,Lalita Shivaji Babar,F,27.0,166.0,50.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Women's 3,000 metres Steeplechase",NaN,India,NaN,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182260,111467,Sathish Kumar Sivalingam,M,24.0,175.0,77.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Weightlifting,Weightlifting Men's Middleweight,NaN,India,NaN,False,False,False
195568,119515,Shiva Thapa,M,22.0,169.0,56.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Bantamweight,NaN,India,NaN,False,False,False
198042,120871,Sandeep Tomar,M,25.0,168.0,61.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Wrestling,"Wrestling Men's Featherweight, Freestyle",NaN,India,NaN,False,False,False
216942,132143,Vikas Krishan Yadav,M,24.0,177.0,69.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Middleweight,NaN,India,NaN,False,False,False
216985,132177,Mohammad Anas Yahiya,M,21.0,177.0,69.0,India,IND,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 400 metres,NaN,India,NaN,False,False,False

In [54]:
def fetch_medal_tally(year, country):

    if year == 'Overall' and country == 'Overall':
        temp_df = medal_df

    elif year == 'Overall' and country != 'Overall':
        temp_df = medal_df[medal_df['region'] == country]

    elif year != 'Overall' and country == 'Overall':
        temp_df = medal_df[medal_df['Year'] == int(year)]

    else:
        temp_df = medal_df[
            (medal_df['Year'] == int(year)) &
            (medal_df['region'] == country)
        ]

    x = temp_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold', ascending=False).reset_index()

    x['total'] = x['Gold'] + x['Silver'] + x['Bronze']

    print(x)

In [59]:
fetch_medal_tally(year='Overall', country='USA')

  region  Gold  Silver  Bronze  total
0    USA  1035     802     708   2545

In [61]:
df['Sport'].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Athletics',
       'Swimming', 'Badminton', 'Sailing', 'Gymnastics',
       'Art Competitions', 'Handball', 'Weightlifting', 'Wrestling',
       'Water Polo', 'Hockey', 'Rowing', 'Fencing', 'Equestrianism',
       'Shooting', 'Boxing', 'Taekwondo', 'Cycling', 'Diving', 'Canoeing',
       'Tennis', 'Modern Pentathlon', 'Golf', 'Softball', 'Archery',
       'Volleyball', 'Synchronized Swimming', 'Table Tennis', 'Baseball',
       'Rhythmic Gymnastics', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Rugby', 'Lacrosse', 'Polo',
       'Cricket', 'Ice Hockey', 'Racquets', 'Motorboating', 'Croquet',
       'Figure Skating', 'Jeu De Paume', 'Roque', 'Basque Pelota',
       'Alpinism', 'Aeronautics'], dtype=object)